<!DOCTYPE html>
<html>
    <head>
        <title>Book Reviews | Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script type="text/javasctipt">
            $(document).ready(function() {
                console.log("in jquery section");

                $("#registration_form").hide();


                $('#register').click(function() {
                    console.log('Not registered link clicked');
                    $('#login_form').hide();
                    $('#registration_form').show();

                });
            }); 
        </script>

    </head>
    <body id="login_page">
    
        <div class="container">
            
            
  
    
            <div class="row">
                <div id="login_form" class="col-md-4 col-md-offset-4">
                <h1>Book Reviews</h1>
                    <h3>Login here!</h3>

                    <form action="/users/login" method='POST'>

                        <div class="form-group">
                            <!-- <label for="email">Email:</label> -->
                            <input type="text" name="email" id="email" placeholder = "Email" class="form-control">
                        </div>
                        {%with errors = get_flashed_messages(category_filter=["email_login"]) %}
                        {% if errors %}
                            {% for error in errors %}
                                <p class="error">{{error}}</p>
                            {%endfor%}
                        {%endif%}
                        {%endwith%}

                        <div class="form-group">
                            <!-- <label for="password">Password:</label> -->
                            <input type="password" name="password" id="password" placeholder = "Password" class="form-control">
                        </div>
                        <a id="register" href="">Not Registered? Register Here!</a>
                        <button type="submit" class="btn btn-default pull-right">Login</button>
                    </form>
                    {%with errors = get_flashed_messages(category_filter=["login"]) %}
                    {% if errors %}
                        {% for error in errors %}
                            <p class="error bottomerror">{{error}}</p>
                        {%endfor%}
                    {%endif%}
                    {%endwith%}
                </div>


                <div id="registration_form" class="col-md-4 col-md-offset-4">
                    <h3>Not a user yet? Register here!</h3>

                    <form action="/users/register" method='POST'>

                        <div class="form-group">
                            <label for="name">Name:</label>
                          
                                <input type="text" name="name" id="name" placeholder = "Name" class="form-control">
                          
                        </div>
                        {%with errors = get_flashed_messages(category_filter=["name"]) %}
                        {% if errors %}
                            {% for error in errors %}
                                <p class="error">{{error}}</p>
                            {%endfor%}
                        {%endif%}
                        {%endwith%}

                        <div class="form-group">
                            <label for="alias" >Alias:</label>
                            
                                <input type="text" name="alias" id="alias" placeholder = "Alias" class="form-control">
                            
                        </div>
                        {%with errors = get_flashed_messages(category_filter=["alias"]) %}
                        {% if errors %}
                            {% for error in errors %}
                                <p class="error">{{error}}</p>
                            {%endfor%}
                        {%endif%}
                        {%endwith%}

                        <div class="form-group">
                            <label for="email">Email:</label>
                            
                                <input type="text" name="email" id="email" placeholder = "Email" class="form-control">
                            
                        </div>
                        {%with errors = get_flashed_messages(category_filter=["email_register"]) %}
                        {% if errors %}
                            {% for error in errors %}
                                <p class="error">{{error}}</p>
                            {%endfor%}
                        {%endif%}
                        {%endwith%}

                        <div class="form-group">
                            <label for="password">Password:</label>
                            
                                <input type="password" name="password" id="password" placeholder = "Password" class="form-control">
                           
                        </div>

                        <div class="form-group">
                            <label for="confirm_password" >Confirm Password:</label>
                          
                                <input type="password" name="conf_password" id="confirm_password" placeholder = "Confirm Password" class="form-control">
                          
                        </div>
                        {%with errors = get_flashed_messages(category_filter=["password_register"]) %}
                        {% if errors %}
                            {% for error in errors %}
                                <p class="error">{{error}}</p>
                            {%endfor%}
                        {%endif%}
                        {%endwith%}

                        <button type="submit" class="btn btn-default pull-right">Register</button>
                    </form>

                    {%with errors = get_flashed_messages(category_filter=["register"]) %}
                    {% if errors %}
                        {% for error in errors %}
                            <p class="error bottomerror">{{error}}</p>
                        {%endfor%}
                    {%endif%}
                    {%endwith%}

                </div>
            </div>

        </div>
    </body>
</html>