<!DOCTYPE html>
<html>
    <head>
        <title>Books Reviews | {{user['name']}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="pull-right"><a href="/books">Home</a> | <a href="/books/new">Add Book and Review</a> | <a href="/users/logoff">LogOff</a></span>
                </div>

                <h3>User Alias: {{user['alias']}}</h3>
                <p>Name: {{user['name']}}</p>
                <p>Email: {{user['email']}}</p>
                <p>Total Reviews: {{count}}</p><br><br>

                <h4>Posted Reviews on the following books: </h4>
                <div class="col-md-11 col-md-offset-1">

                    {% for book in books_reviewed %}
                    <p><a href="/books/{{book['bookid']}}">{{book['title']}}</a><p> 

                    {%endfor%}

                </div>

            </div>
        </div>


    </body>
</html>