<!DOCTYPE html>
<html>
    <head>
        <title>Books Reviews | {{user['name']}}'s Profile</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body class="books_page">

        <nav class="navbar navbar-default navbar-fixed-top" id="navigation">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/books">Book Reviews</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/books/new">Add Book &amp; Review</a></li>
                    <li><a href="/users/logoff">Logoff</a></li>
                  </ul>
                </div>
            </div>
        </nav>

        <div class="container" id="topmargin">
            <div class="row">
                <div class="col-md-12">
                <h3>User Alias: {{user['alias']}}</h3>
                <p><strong>Name:</strong> {{user['name']}}</p>
                <p><strong>Email:</strong> {{user['email']}}</p>
                <p><strong>Total Reviews:</strong> {{count}}</p><br>

                <h4>Books reviewed by {{user['alias']}}</h4>
                </div>
                <div class="col-md-3">
                    <div class="section">
                    {% for book in books_reviewed %}
                    <p><a href="/books/{{book['bookid']}}">{{book['title']}}</a><p> 
                    {%endfor%}
                    </p>

                </div>

            </div>
        </div>


    </body>
</html>