<!DOCTYPE html>
<html>
    <head>
        <title>Book Reviews | Add New Book</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="pull-right"><a href="/books">Home</a> | <a href="/users/logoff">LogOff</a></span>
                </div>
        
                <h3>Add a New Book Title and Review</h3>
                <div class="col-md-6">
                    <form action ="/books/create", method='POST'>

                        <div class="form-group">
                            <label>Book Title:</label>

                            <div class="col-md-11 col-md-offset-1">
                                <label for="title_list">Choose Book from the list:</label>
                                <select name="title_list" id="title_list" class="form-control">
                                    <option>None-Add New</option>
                                    {%for book in books %}
                                    <option>{{book['title']}}</option>
                                    {%endfor %}
                                </select>

                                <label for="new_title">OR Add a new book:</label>
                                <input type="text" name="new_title" id="new_title" class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Author:</label>

                            <div class="col-md-11 col-md-offset-1">
                                <label for="author_list">Choose Author from the list:</label>
                                <select name="author_list" id="author_list" class="form-control">
                                    <option>None-Add New</option>
                                    {%for author in authors %}
                                    <option>{{author['name']}}</option>
                                    {%endfor %}
                                </select>

                                <label for="new_author">OR Add a new author:</label>
                                <input type="text" name="new_author" id="new_author" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="review">Review:</label>
                            <textarea name="review" id="review" class="form-control" rows ="4"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="rating">Rating:</label>
                            <select name="rating" id="rating">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <label>stars</label>
                        </div>

                        <button class="btn btn-primary pull-right" type="submit">Add Book and Review</button>

                        {%with errors = get_flashed_messages() %}
                        {%if errors %}
                            {%for error in errors %}
                            <p class="error bottom error">{{error}}</p><br>
                            {%endfor%}
                        {%endif%}
                        {%endwith%}

                    </form>
                </div>


            </div>
        </div>
    </body>
</html>