<!DOCTYPE html>
<html>
    <head>
        <title>Book Reviews | Add New Book</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {

                $('#title_list').change(function () {
                    var title = $('option:selected', this).val();
                    if (title != "Add New") {
                        $('#new_title').hide();
                        $('.author').hide();
                    }
                    if (title == "Add New") {
                        $('#new_title').show();
                        $('#author_list').val("Add New");
                        $('.author').show();
                    }

                });

                $('#author_list').change(function () {
                    var author = $('option:selected', this).val();
                    if (author != "Add New") {
                        $('#new_author').hide();
                    }
                    if (author == "Add New") {
                        $('#new_author').show();
                    }

                });
                
            }); 
        </script>

    </head>

    <body class="books_page">
        <nav class="navbar navbar-default navbar-fixed-top" id="navigation">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/books">Book Reviews</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/users/logoff">Logoff</a></li>
                  </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Add a New Book Title and Review</h3>
                </div>
        
 
                <div class="col-md-6 col-md-offset-3">
                    <div class="section" id="form_section">
                        <form action ="/books/create", method='POST'>

                            <div class="form-group">
                                <label>Book Title:</label>

                                <div class="col-md-11 col-md-offset-1">
                                    <select name="title_list" id="title_list" class="form-control">
                                        <option value="Add New">Add New</option>
                                        {%for book in books %}
                                        <option>{{book['title']}}</option>
                                        {%endfor %}
                                    </select>

                                    <input type="text" name="new_title" id="new_title" placeholder="New Book Title" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="author">Author:</label>

                                <div class="col-md-11 col-md-offset-1">
                                    <select name="author_list" id="author_list" class="form-control author">
                                        <option value="Add New">Add New</option>
                                        {%for author in authors %}
                                        <option>{{author['name']}}</option>
                                        {%endfor %}
                                    </select>
                                    <input type="text" name="new_author" id="new_author" placeholder="New Author" class="form-control author">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="review">Review:</label>
                                <textarea name="review" id="review" class="form-control" rows ="4"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="rating">Rating:</label>
                                <select name="rating" id="rating">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <label>stars</label>
                            </div>

                            <button class="btn btn-default pull-right" type="submit">Add Book and Review</button>

                            {%with errors = get_flashed_messages() %}
                            {%if errors %}
                                {%for error in errors %}
                                <p class="error bottom error">{{error}}</p><br>
                                {%endfor%}
                            {%endif%}
                            {%endwith%}

                        </form>
                    </div>
                </div>

                


            </div>
        </div>
    </body>
</html>