body {
    color: #58240b;
}

a {  
    color: #332016;
}
a.hover {
    color: black;
}

.error {
    color: red;
    font-size: 10px;
}

.bottomerror{
    margin-top: 15px;
}

#login_page {
    background-image: url('../img/books.jpg')
}

#topmargin {
    margin-top: 40px;
}

.books_page {
    background-color: #f9e5c4;
}

/*.vertical-center {
    min-height: 100%;  
    min-height: 100vh;

    display: flex;
    align-items: center;
}*/

#navigation {
    background-color: #f9ba75;
    border-color: #f9ba75;
    color: #bf782b;
    /*color: #fac88b;*/
}

.section {
    background-color: #f8cd9f;
    border-radius: 5px;
    padding: 5px 10px 25px 10px;
    margin: 10px;
}

#form_section{
    padding: 20px 20px 50px 20px;
}

/*.heading_color {
    color: #634b3f;
}*/